.gpt3__features-container{
    display: flex;
    justify-content: flex-start;
    padding: 5rem 0;

}
.gpt3__features-heading{
    margin: 0 8rem 5rem 0;
}
.gpt3__features-heading h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    max-width: 45rem;
    margin-bottom: 1rem;
    flex: 1
}
.gpt3__features-heading>span{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
}

.gpt3__features-content__element{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
    margin-bottom: 2rem;
}
.gpt3__features-content__element h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px!important;
    line-height: 1.5rem;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-right:2rem;
    max-width: 12rem;
    min-width: 8rem;
    flex: 1;
}

.gpt3__features-content__element > div {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
    flex: 1;
}

@media screen and (max-width: 1050px) {
    .gpt3__features-content__element{
        flex-direction: column;
    }
}
@media screen and (max-width: 850px) {
    .gpt3__features-container{
        flex-direction: column
    }
    .gpt3__features-heading {
        margin: 0 2rem 3rem 0;
    }
}